<div class="blog-wrapper">

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <div class="text">
        <h1>JWT Authentication in Your Website</h1>
        <p class="meta">Published by <strong>RS BusinessTech</strong> | February 26, 2026</p>
        <p class="intro">
         • JWT(JSON Web Token) Authentication is a security feature added  in your website to verify the person who is trying to login is really allowed to login or not.<br><br>
         • When we enter our username/password and click on login button, the system checks whether it's correct or not. If correct then we will be logged in successfully otherwise
         system will giving error "Invalid username/password".<br><br>• When we logged in successfully, system issues a token (called JSON Web Token or JWT). Then all the data of our website will be accessed using this token, without this token we cann't access 
         anything. So, only we have this token, not the hackers that's why only we can access the data of our website, not the hackers.<br><br>👉This is how JWT Authentication makes all the information stored in our 
         website secured, safe from hackers/unauthorized people.
        </p>
      </div>
      <div class="hero-image">
        <img src="/assets/images/Jwt.png" alt="JWT Authentication Diagram">
      </div>
    </div>
  </section>

  <!-- Why JWT Section -->
  <section class="cards-section">
    <div class="card">
      <h2>Why Your website Needs JWT Authentication</h2>
      <ul>
        <li>Nowadays, Websites face lot of cyber security threats and getting hacked.</li>
        <li>We need to prevent unauthorized people to login our website.</li>
        <li>Customers expect their personal information to be safe/protected.</li>
        <li>Website must be secure enough to secure the personal information of the customers from being exposed to hackers.</li>
        <li>Creates a secure and smooth login experience for you to login.</li>
        <li>Gives you a full control over who can ADD/DELETE/UPDATE/READ your data after successful login.</li>
      </ul>
    </div>

   <div class="card">
   <h2>Benefits of JWT Authentication</h2>
    <ul>
      <li>Ensures only authorized users can login to your website.</li>
      <li>Protects sensitive data from unauthorized access.</li>
      <li>Reduces the risk of hacking and data being exposed to hackers.</li>
      <li>Builds customers trust by keeping their information secure.</li>
      <li>Provides a smooth login experience by doing everthing automatically like creating, verifying the tokens.</li>
      <li>Helps maintain your brand’s reputation by improving security.</li>
     </ul>
    </div>
  </section>

  <!-- Diagram Explanation -->
  <section class="blog-section">
    <h2>JWT Authentication flow:</h2>

    <!-- Architecture Diagram first -->
    <div class="architecture-image">
      <img src="/assets/images/Authentication Flow.png" alt="JWT Authentication Diagram">
    </div>

    <ol class="jwt-steps">
      <li>User enters username/password and click on login button.</li>
      <li>Browser sends this username/password securely to the server.</li>
      <li>Server verifies this username/password.</li>
      <li>if correct, we will be logged in successfully and the server generates short-lived access token called JWT (JSON Web Token).</li>
      <li>One more long-lived token is generated by the server called Refresh-Token. it is used to get new Access token when expired<br>
          Both Tokens (Access Token & Refresh Token) are sent back to the Browser.
          Access token is stored in local storage and Refresh token is stored in HttpOnly cookie.</li>
      <li>After successful logn, whenever we try to open any page, this Access token is given to server.</li>
      <li>Then the server will validate this Access token, if validated successfully then we will be able to see that page.<br>
           If this Access token is expired, then we will get error message "Token is Expired".</li>
      <li>If we get the error message "Token is Expired", then the browser will automatically request the server to issue a new Access Token by giving Refresh Token</li>
      <li>Then server validates the Refresh token, if validated successfully then server will issue a new Access token.<br>
          If the Refresh token is also expired, then server will not issue any new Access Token and we will be
         sent back to login page</li>
      <li>After getting new Access token, The browser will give this new Access token to server and try to open same requested page again automatically</li><br>
      <li>Then the server will validate this new Access token again, if validated successfully then we will be able to see the requested page.<br></li><br>
      <li>if validation failed, then we will be sent back to Login page.<br></li><br>
    </ol>

    
      <!-- CTA Section -->
      <section class="cta-section">
       <h2>Want know more about JWT Authentication?</h2>
       <p>Let's add this security and make your website secure today!</p><br>
       <a href="https://wa.me/+601114278964" class="cta-button">Chat on Whatsapp</a><br><br>
      </section>
  </section>
</div>