<section class="services-section" id="services">
  <h2 class="section-title">OUR PRODUCTS</h2>

  <div class="services-container">

    <div class="service-card">
      <img src="assets/icons/online-appointment-booking-system.png" alt="Business Software Icon" />
      <h3>Online Appointment Booking System</h3>
      <p>
        A complete scheduling solution for salons, clinics, and service businesses. Real-time booking, reminders & admin dashboard.
      </p>

      <div class="product-actions">
        <a [routerLink]="['/onlineAppointmentBookingSystem/login']" class="btn-outline">Login</a>
        <a href="/onlineAppointmentBookingSystem/login" class="btn-primary">Know More</a>
      </div>
    </div>

  </div>
</section>
