<div class="dashboard-container">
  <!-- ================== Dashboard Title ================== -->
  <h1 class="dashboard-title" style="color: brown; text-align: center;">Overview</h1>

<!-- ================== Top KPI Cards ================== -->
<!-- ===== All Properties ===== -->
<h3 class="kpi-category-title">🏘️ Total Properties/Clients</h3>
<div class="kpi-cards category-all">
  <div class="card kpi">
    <h4>🏘️ Total Properties</h4>
    <p class="value">{{ totalProperties }}</p>
  </div>
  <div class="card kpi clickable">
    <h4>🧑‍🤝‍🧑 Total Tenants</h4>
    <p class="value underline" [routerLink]="'/propertyManagementSystem/rentalCustomers'">
      {{ totalTenants }}
    </p>
  </div>
  <div class="card kpi clickable">
    <h4>🙋‍♂️ Total Buyers</h4>
    <p class="value" [routerLink]="'/propertyManagementSystem/buyCustomers'">{{ totalBuyers }}</p>
  </div>
  <div class="card kpi">
    <h4>👤 Total Owners</h4>
    <p class="value">{{ totalOwners }}</p>
  </div>
</div>

<!-- ===== Rental Properties ===== -->
<h3 class="kpi-category-title">🏙️ Rental Properties</h3>
<div class="kpi-cards category-rent">
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/rentalProperties'">
    <h4>🏙️ Total Rental Properties</h4>
    <p class="value">{{ totalRentalProperties }}</p>
  </div>
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/rentalProperties'">
    <h4>🏙️ Rented Out</h4>
    <p class="value">{{ totalRentedOutProperties }}</p>
  </div>
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/rentalProperties'">
    <h4>🏙️ To be Rented</h4>
    <p class="value">{{ totalToBeRentedProperties }}</p>
  </div>
</div>

<!-- ===== Sales Properties ===== -->
<h3 class="kpi-category-title">🏢 Sales Properties</h3>
<div class="kpi-cards category-sale">
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/buyProperties'">
    <h4>🏢 Total Sale's Properties </h4>
    <p class="value">{{ totalSaleProperties }}</p>
  </div>
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/buyProperties'">
    <h4>🏢 Sold Out</h4>
    <p class="value">{{ totalSoldOutProperties }}</p>
  </div>
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/buyProperties'">
    <h4>🏢 To be Sold</h4>
    <p class="value">{{ totalToBeSoldProperties }}</p>
  </div>
</div>

<!-- ===== MM2H Properties ===== -->
<h3 class="kpi-category-title">🛫 MM2H Properties</h3>
<div class="kpi-cards category-mm2h">
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/mm2hProperties'">
    <h4>🛫 Total MM2H Properties</h4>
    <p class="value">{{ totalMm2hProperties }}</p>
  </div>
   <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/mm2hProperties'">
    <h4>🏢 Sold Out</h4>
    <p class="value">{{ totalSoldOutProperties }}</p>
  </div>
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/mm2hProperties'">
    <h4>🏢 To be Sold</h4>
    <p class="value">{{ totalToBeSoldProperties }}</p>
  </div>
</div>

<!-- ===== Commercial Properties ===== -->
<h3 class="kpi-category-title">🏬 Commercial Properties</h3>
<div class="kpi-cards category-commercial">
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/commercialProperties'">
    <h4>🏬 Total Commercial Properties</h4>
    <p class="value">{{ totalCommercialProperties }}</p>
  </div>
</div>

<!-- ===== New Projects ===== -->
<h3 class="kpi-category-title">🏗️ New Projects</h3>
<div class="kpi-cards category-new-projects">
  <div class="card kpi clickable" [routerLink]="'/propertyManagementSystem/newProjectsProperties'">
    <h4>🏗️ Total New Projects</h4>
    <p class="value">{{ totalNewProjects }}</p>
  </div>
</div>


  <!-- ================== Main Dashboard Two Columns ================== -->
  <div class="dashboard-main">
    <!-- ------------------ Left Panel ------------------ -->
    <div class="left-panel">
      <div class="card pending-rentals">
         <h3>⏳ Contracts Expiring (This Month)</h3>

         <div *ngIf="contractsExpiringThisMonth.length === 0" class="empty-state">
         🎉 No Contract Expiring this month
         </div>

         <div class="table-responsive" *ngIf="contractsExpiringThisMonth.length > 0">
          <table class="pending-table">
             <thead>
               <tr>
                 <th>Tenant</th>
                 <th>Property</th>
                 <th>Contract Start Date</th>
                 <th>Contract Expiry Date</th>
                 <th>Contract Duration (Months)</th>
                 <th>Chat</th>
               </tr>
             </thead>

           <tbody>
              <tr *ngFor="let lease of contractsExpiringThisMonth">
                 <td>
                   <a
                    [routerLink]="['/propertyManagementSystem/viewCustomerDetails', lease.tenantId]"
                    class="mobile-id-link" title="click here to see this Tenat"
                    >
                      {{ lease.tenantName }}
                   </a>
                 </td>
                 <td>
                    <a [routerLink]="['/viewDetails', 'rent', lease.propertyId]" target="_blank" title="click here to see this Property">
                    {{ lease.propertyName }}
                    </a>
                 </td>                
                 <td>
                   <span class="contract-start-date">
                      {{ lease.contractStartDate | dateFormat }}
                   </span>
                 </td>
                 <td>
                   <span class="due-date">
                      {{ lease.contractEndDate | dateFormat }}
                   </span>
                 </td>
                 <td>{{ lease.rentalDurationInMonths }}</td>
                 <td>
                 <!--Whatsapp-->
                   <a [href]="'https://wa.me/' + lease.tenantWhatsappNumber" target="_blank" 
                     aria-label="WhatsApp" class="whatsapp-btn" title="Chat"> 
                     <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
      </div>

      <div class="card pending-rentals">
         <h3>⏳ Pending Rentals (This Month)</h3>

         <div *ngIf="pendingRentalsThisMonth.length === 0" class="empty-state">
         🎉 No pending rentals this month
         </div>

         <div class="table-responsive" *ngIf="pendingRentalsThisMonth.length > 0">
          <table class="pending-table">
             <thead>
               <tr>
                 <th>Tenant Name</th>
                 <th>Property</th>
                 <th>Rental Amount (RM)</th>
                 <th>Due Date</th>
                 <th>Chat</th>
               </tr>
             </thead>

           <tbody>
              <tr *ngFor="let lease of pendingRentalsThisMonth">
                 <td>
                   <a
                    [routerLink]="['/propertyManagementSystem/viewCustomerDetails', lease.tenantId]"
                    class="mobile-id-link" title="click here to see this Tenat"
                    >
                      {{ lease.tenantName }}
                   </a>
                 </td>
                 <td>
                    <a [routerLink]="['/viewDetails', 'rent', lease.propertyId]" target="_blank" title="click here to see this Property">
                    {{ lease.propertyName }}
                    </a>
                 </td>
                 <td class="contract-start-date">{{ lease.rentalAmount | number:'1.2-2' }}</td>
                 <td>
                   <span class="due-date">
                      {{ lease.rentalStartDate | dateFormat }}
                   </span>
                 </td>
                 <td>
                 <!--Whatsapp-->
                   <a [href]="'https://wa.me/' + lease.tenantWhatsappNumber" target="_blank" 
                     aria-label="WhatsApp" class="whatsapp-btn" title="Chat"> 
                     <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
      </div>

      <!-- Total Properties Rented -->
      <!-- <div class="card lease-expiry">
        <h3>⏳Properties Rented (This Month)</h3>
        <ul>
          <li *ngFor="let lease of propertiesRentedThisMonth">
            {{ lease.tenantName }} - {{ lease.propertyName }} ({{ lease.expiryDate | date:'dd MMM, yyyy' }})
          </li>
        </ul>
      </div> -->

      <!-- <div class="card lease-expiry">
        <h3>⏳Properties Sold (This Month)</h3>
        <ul>
          <li *ngFor="let lease of propertiesSoldThisMonth">
            {{ lease.tenantName }} - {{ lease.propertyName }} ({{ lease.expiryDate | date:'dd MMM, yyyy' }})
          </li>
        </ul>
      </div> -->

    <!-- ------------------ Right Panel ------------------ -->
    <div class="right-panel">
      <!-- Property Status Chart:  🟢 Occupied(Currently rented out),🔴 Vacant(Available), 🟡 Under Maintenance(Not rentable), 🔵 Reserved(Booking in progress) -->
      <div class="card chart">
        <h3>Properties Status</h3>
        <div class="chart-placeholder">
          <canvas baseChart
            [datasets]="propertyStatusChartData"
            [labels]="propertyStatusChartLabels"
            [options]="propertyStatusChartOptions"
            [legend]="propertyStatusChartLegend"
            [chartType]="propertyStatusChartType">
          </canvas>
        </div>
      </div>

      <!-- Quick Actions -->
      <div class="card quick-actions">
        <h3>⚡ Quick Actions</h3>
        <div class="actions">
          <button (click)="addProperty()">Add Rental Property</button>
          <button (click)="addTenant()">Add Tenant</button>
          <button (click)="addOwner()">Add Rental Property Owner</button>
          
          <!-- <button (click)="generateReport()">Generate Report</button> -->
        </div>
      </div>
    </div>
  </div>
</div>