<footer class="site-footer">
  <div class="footer-content">
    <img src="/assets/icons/logo-rsbusinesstech.png" alt="RS BusinessTech Logo" class="footer-logo" />
    <p>© 2025 RS BusinessTech (All rights are reserved).</p>
    <p></p>

    <div class="social-icons">
      <a href="https://wa.me/+601114278964" target="_blank" aria-label="WhatsApp">
        <img src="/assets/icons/whatsapp.svg" alt="WhatsApp" />
      </a>
      <a href="https://www.facebook.com/share/1Cae4GEhrv/" target="_blank" aria-label="Facebook">
        <img src="/assets/icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com/rsbusinesstech?igsh=MW1pdTBiNHd3bjAxbA==E" target="_blank" aria-label="Instagram">
        <img src="/assets/icons/instagram.svg" alt="Instagram" />
      </a>
      <a href="https://www.tiktok.com/@rs.business.tech?_t=ZS-8yDYRIOnBUW&_r=1" target="_blank" aria-label="Tiktok">
        <img src="/assets/icons/tiktok.svg" alt="Tiktok" />
      </a>
      <a href="mailto:rsbusinesstech@gmail.com" target="_blank" aria-label="Gmail">
        <img src="/assets/icons/gmail.png" alt="Gmail" />
      </a>
    </div>

  </div>
</footer>
