.site-footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 2rem 1rem;

  .footer-content {
    max-width: 1200px;
    margin: auto;

    .footer-logo {
      height: 40px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
