<aside class="sidebar" [class.open]="isOpen">
  <!-- Close button only visible on mobile -->
  <button class="close-btn" (click)="close()">×</button>
  
  <!-- <div class="logo">Online Appointment Booking System</div> -->
  <nav>
    <a routerLink="/overview">🏠 Home</a>
    <a routerLink="/calendar">📅 Calendar</a>
    <a routerLink="/customers">👥 Customer Management</a>
    <a routerLink="/services">🧴Service Management</a>
    <a routerLink="/team">👩‍🔧Team</a>
    <a routerLink="/location">📍Location</a>
    <a routerLink="/online-booking">🌐Online Booking</a>
    <a routerLink="/reports">📈 Reports</a>
    <a routerLink="/sales">💳 Payment & Sales</a>
    <a routerLink="/home">🔐 Logout</a>
  </nav>
</aside>
