.content-section {
  background-color: #f9f5e3;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  color: #000;
}

.content-container {
  background: #f7f2e8;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  text-align: left;
}

.center-text {
  text-align: center;
}

.section-heading {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(255, 38, 0);
  animation: fadeIn 5s ease-in-out 0.5s infinite; /* delay of 0.5s with frequency of 5sec */
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-subheading {
  font-size: 1em;
  margin-bottom: 10px;
}

.section-description-about {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
  margin: 15px auto 0 auto;   /* centers the paragraph */
  text-align: justify;
}

.section-description {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
  margin: 15px auto 0 auto;   /* centers the paragraph */
}


 .section-image {
  max-width: 700px;
  height: auto;
  margin: 20px auto;
  display: block;
} 



.map-link {
  display: block;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.google-map {
  width: 100%;
  border: none;
}

.flex-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.info-box {
  flex: 1 1 45%;
  background: #f7f2e8;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .flex-box {
    flex-direction: column;
  }

  .section-heading {
    font-size: 1.8em;
    text-align: center;
  }

  .content-container {
    padding: 20px;
  }

  .section-description {
    text-align: center;
  }

  .section-description-about {
    text-align: center;
  }

  .section-image {
    width: 100%;
    max-width: 250px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
