<!-- About Section -->
<div class="content-section">
  <div class="content-container">
    <h2 class="section-heading">ABOUT US</h2>
    <img src="assets/icons/rsbusinesstech_about.png" alt="RS BusinessTech" class="section-image" />
    <p class="section-description">
      At RS BusinessTech, we specialize in creating innovative and customized websites with latest & smart technology to meet the needs of modern businesses.
      Whether it's professional websites, branding, or advanced software applications, we are your trusted partner in digital transformation.
    </p>
  </div>
</div>

<!-- Vision & Mission -->
<div class="content-section">
  <div class="content-container">
    <h2 class="section-heading">VISION & MISSION</h2>
    <div class="flex-box">
      <div class="info-box">
        <h3>Our Vision</h3>
        <p>To become a global leader in delivering smart digital solutions</p>
      </div>
      <div class="info-box">
        <h3>Our Mission</h3>
        <p>To empower small and medium businesses by delivering high-quality, scalable, and modern digital solutions those help them grow in an ever-evolving market.</p>
      </div>
    </div>
  </div>
</div>

<!-- Location -->
<div class="content-section">
  <div class="content-container center-text">
    <h2 class="section-heading">LOCATION</h2>
    <h4 class="section-subheading">Kuala Lumpur, Malaysia</h4>
    <p class="section-description">Phone: 📞 <a href="tel:+601114278964">+60 11-1427 8964</a></p>
    <img src="assets/icons/kl.png" alt="KL" class="section-image" />
    <a href="https://www.google.com/maps/place/Petronas+Towers,+Kuala+Lumpur" class="map-link" target="_blank">Map and Direction</a>
    <iframe class="google-map"   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15930.970407806825!2d101.68405868809338!3d3.1390036499999967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc37d111111111%3A0x7a0b1d362bc3a0!2sKuala%20Lumpur%2C%20Federal%20Territory%20of%20Kuala%20Lumpur%2C%20Malaysia!5e0!3m2!1sen!2smy!4v1661430783654!5m2!1sen!2smy"
 width="100%" height="300"></iframe>
  </div>
</div>
