<section class="clients-section">
  <h2>OUR CLIENTS</h2>
  
  <div class="client-list">

        <!-- Client Card 1 -->
    <div class="client-card">
      <div class="client-logo-vyen">
        <img src="assets/icons/vyenpropertyadvisor.png" alt="Client 2 Logo">
      </div>
      <div class="client-details">
        <div class="client-header">
          <h3>Vyen Property Advisor (Malaysia)</h3>
          <img src="assets/icons/malaysia.png" alt="Country Flag" class="country-flag">
        </div>
        <p>Trusted real estate Advisor in Kuala Lumpur, helping clients find their dream properties with ease and confidence.
        </p>
        <a href="https://vyenpropertyadvisor.com/home" target="_blank" rel="noopener">🌐 www.vyenpropertyadvisor.com</a>
      </div>
    </div>

    <!-- Client Card 2 -->
    <div class="client-card">
      <div class="client-logo">
        <img src="assets/icons/lashmapbeautystudio.jpeg" alt="Client 1 Logo">
      </div>
      <div class="client-details">
        <div class="client-header">
          <h3>LashMap Beauty Studio (Australia)</h3>
          <img src="assets/icons/australia.png" alt="Country Flag" class="country-flag">
        </div>
        <p>
          LashMap Beauty Studio is a leading beauty studio based in Melbourne, Australia.it is specialized in premium lash and mapping services.
          With a focus on precision, comfort, and client satisfaction, they offer personalized lash styling tailored to each individual.
          Their team of highly experienced professionals ensures high-quality results using the latest techniques and products.
        </p>🌐
        <a href="https://lashmapbeautystudio.com/home" target="_blank" rel="noopener"> www.lashmapbeautystudio.com</a>
      </div>
    </div>
    <!-- Add more clients here -->

  </div>
</section>
