<!-- ================= LOADING STATE ================= -->
<div *ngIf="isLoading" class="loading-container">
  <p>Loading customer details...</p>
</div>

<!-- ================= ERROR STATE ================= -->
<div *ngIf="errorMessage && !isLoading" class="error-container">
  {{ errorMessage }}
</div>

<!-- ================= CUSTOMER DETAILS VIEW ================= -->
<div *ngIf="customer && !isLoading" class="customer-card" id="customerPdf">

  <!-- ================= PROFILE HEADER ================= -->
 <div class="profile-wrapper">
  <!-- ================= PROFILE HEADER ================= -->
  <div class="profile-header">
    <div class="profile-image-wrapper">
      <ng-container *ngIf="customer.imageUrl; else noImage">
        <a
          [href]="customer.imageUrl"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="profile-img-rect clickable"
            [src]="customer.imageUrl"
            alt="Customer Image"
          />
        </a>
      </ng-container>

      <ng-template #noImage>
        <img
          class="profile-img-rect"
          src="assets/default-user.png"
          alt="No Image"
        />
      </ng-template>
    </div>

    <div class="profile-info">
      <h2>{{ customer.fullName }}</h2>
      <p>IC / Passport No: {{ customer.customerID }}</p>
      <p>Property ID: 
       <a 
        [routerLink]="['/viewDetails', 'rent', customer.propertyId]"
        target="_blank" 
        rel="noopener noreferrer"
        style="color:white;"
        title="click here to see this Property"
      >
        {{ customer.propertyId }}
      </a></p>

      <span class="badge">
        {{ customer.accountStatus }}
      </span>
    </div>
  </div>
</div>


  <!-- ================= DETAILS SECTION ================= -->
  <div class="details-section">

    <!-- BASIC IDENTIFICATION -->
    <div class="detail-group">
      <h4>Basic Identification</h4>
      <div class="detail-grid">
        <div><label>Full Name <i>(As per IC/Passport)</i></label><span>{{ customer.fullName }}</span></div>
        <div><label>Father Name</label><span>{{ customer.fatherName }}</span></div>
        <div><label>Gender</label><span>{{ customer.gender }}</span></div>
        <div><label>Date of Birth</label><span>{{ customer.dateOfBirth | dateFormat }}</span></div>
        <div><label>Customer ID <i>(IC/Passport No.)</i></label><span>{{ customer.customerID }}</span></div>
        <div><label>ID Type <i>(IC/Passport)</i></label><span>{{ customer.customerIDType }}</span></div>
        <div><label>Property Type</label><span>{{ customer.propertyType }}</span></div>
      </div>
    </div>

    <!-- CONTACT INFORMATION -->
    <div class="detail-group">
      <h4>Contact Information</h4>
      <div class="detail-grid">
        <div><label>Email</label>
          <span>{{ customer.email }} 
            <a style = "text-decoration: none;" *ngIf="customer.email" [href]="'mailto:' + customer.email" target="_blank" title="Send Email">
            📤
            </a>
         </span>
        </div>
        <div><label>Mobile Number</label>
          <span>{{ customer.mobileNumber }}
            <a [href]="'tel:' + customer.mobileNumber" target="_blank" aria-label="Call" class="call-btn" title="Call"> 
              <img src="assets/icons/phone.png" alt="Call" />
            </a>
          </span> 
        </div>
        <div><label>Alternate Phone</label><span>{{ customer.alternatePhoneNumber }}</span></div>
        <div><label>WhatsApp</label>
          <span>{{ customer.whatsappNumber }}
            <a [href]="'https://wa.me/' + customer.whatsappNumber" target="_blank" aria-label="WhatsApp" class="whatsapp-btn" title="Chat"> 
              <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
           </a>
          </span>          
        </div>    
        <div><label>Preferred Contact</label><span>{{ customer.preferredContactMethod }}</span></div>
      </div>
    </div>

    <!-- ADDRESS DETAILS -->
    <div class="detail-group"> <!--Added page-break so that this info will be started on page2 while downloading PDF -->
      <h4>Address Details</h4>
      <div class="detail-grid">
        <div><label>Address Line 1</label><span>{{ customer.addressLine1 }}</span></div>
        <div><label>Address Line 2</label><span>{{ customer.addressLine2 }}</span></div>
        <div><label>City</label><span>{{ customer.city }}</span></div>
        <div><label>State</label><span>{{ customer.state }}</span></div>
        <div><label>Country</label><span>{{ customer.country }}</span></div>
        <div><label>Postal Code</label><span>{{ customer.postalCode }}</span></div>
      </div>
    </div>

    <!-- ACCOUNT & MEMBERSHIP -->
    <div class="detail-group">
      <h4>Account & Membership</h4>
      <div class="detail-grid">
        <div><label>Account Status</label><span>{{ customer.accountStatus }}</span></div>
        <div><label>Registration Date</label><span>{{ customer.registrationDate | dateFormat }}</span></div>
      </div>
    </div>

    <!-- RENTAL INFORMATION -->
    <div class="detail-group">  
      <h4>Rental Information</h4>
      <div class="detail-grid">
        <div><label>Rental Amount <i>(per month)</i></label><span>RM {{ customer.rentalAmount }}</span></div>
        <div><label>Rental Start Date <br><i>(when tenant has to pay monthly Rental)</i></label><span> {{ customer.rentalStartDate | dateFormat }}</span></div>
        <div><label>Rental Due Date <br><i>(last date to pay monthly Rental)</i></label><span> {{ customer.rentalDueDate | dateFormat }}</span></div>
      </div>
    </div>

    <!-- CONTRACT INFORMATION -->
    <div class="detail-group">
      <h4>Contract Information</h4>
      <div class="detail-grid">
        <div><label>Contract Start Date</label><span> {{ customer.contractStartDate | dateFormat }}</span></div>
        <div><label>Contract End Date</label><span> {{ customer.contractEndDate | dateFormat }}</span></div>
        <div><label>Contract Duration</label><span>{{ customer.rentalDurationInMonths }} Months</span></div>
        <div><label>Advance Rental</label><span>RM {{ customer.rentalAmount }}</span></div>
        <div><label>Advance Deposit</label><span>RM {{ customer.advanceRentalDeposit }}</span></div>
        <div><label>Utility Deposit</label><span>RM {{ customer.utilityDeposit }}</span></div>
        <div><label>Stamping Fee</label><span>RM {{ customer.stampingFee }}</span></div>
        <div><label style="color:green;font-weight: bold;">Total Amount Refundable <br><i style="color:grey;">(2 months Deposit + Utility Despsit) </i></label><span style="color:red;font-weight: bold;">RM {{ customer.advanceRentalDeposit + customer.utilityDeposit }}</span></div>
        <div><label style="color:green;font-weight: bold;">Total Amount Paid <br> <i style="color:grey;">(1 month Rental + 2 months Deposit + Utility Despsit + Stamping Fee) </i></label><span style="color:red;font-weight: bold;">RM {{ customer.totalAmountForTenancy }}</span></div>
      </div>
    </div>

    <!-- PURCHASE INFORMATION -->
    <div class="detail-group">
      <h4>Purchase Information</h4>
      <div class="detail-grid">
        <div><label>Property Price</label><span>RM {{ customer.propertyPrice }}</span></div>
        <div><label>Stamp Duty</label><span>RM {{ customer.stampDutyFee }}</span></div>
        <div><label>Registration Fee</label><span>RM {{ customer.registrationFee }}</span></div>
        <div><label>Down Payment</label><span>RM {{ customer.downPaymentAmount }}</span></div>
      </div>
    </div>

    <!-- Listing Details -->
    <div class="detail-group">
      <h4>Listing Details</h4>
      <div class="detail-grid">
        <div><label>Listed By</label><span>{{ customer.createdBy }}</span></div>
        <div><label>Listed At</label><span>{{ customer.createdAt | dateTimeFormat  }}</span></div>
        <div><label>Updated By</label><span>{{ customer.updatedBy }}</span></div>
        <div><label>Updated At</label><span>{{ customer.updatedAt | dateTimeFormat }}</span></div>
      </div>
    </div>

  </div>
 </div>

<!-- Download PDf -->
<div class="download-btn-wrapper">
  <button mat-raised-button color="primary" (click)="downloadPdf()">
    Download Customer Details (PDF)
  </button>
</div>
