<section class="services-section" id="services">
  <h2 class="section-title">Our Services</h2>

  <div class="services-container">

    <div class="service-card" (click)="onServiceClick('website')">
      <img src="assets/icons/web-dev.jpeg" alt="Web Development Icon" style="width: 100px; height: 100px; border-radius: 60%;"/>
      <h3>Website Development</h3>
      <p>We build customized professional websites as per your business requirement.</p>

      <div *ngIf="showCountrySelector && selectedService === 'website'" class="dropdown-overlay">
        <label>Select your country: </label>
        <select (change)="onCountrySelect($event)">
          <option value="" disabled selected>Select country</option>
          <option *ngFor="let country of countries" [value]="country.router">
            {{ country.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="service-card">
      <img src="assets/icons/business-software.png" alt="Business Software Icon" />
      <h3>Business Software Solutions</h3>
      <p>We develop a wide range of web-based software solutions to digitize and automate your business processes, making operations smarter and more efficient.</p>
    </div>

    <div class="service-card">
      <img src="assets/icons/mobile.png" alt="Mobile App Icon" />
      <h3>Mobile Apps Development</h3>
      <h3>(Android/iOS)</h3>
      <p>We design and develop mobile apps for Android and iPhone as per your needs to accelerate your business.</p>
    </div>

     <div class="service-card">
      <img src="assets/icons/consultation.png" alt="Mobile App Icon" />
      <h3>Technical Consultation for Business</h3>
      <p>We offer paid technical consultation sessions to provide you clarity, cost estimates, and the best tech recommendations 
        about websites/softwares, and mobile apps for your business.</p>
    </div>

    <div class="service-card">
      <img src="assets/icons/seo.png" alt="SEO Icon" />
      <h3>Search Engine Optimization</h3>
      <h3>(SEO)</h3>
      <p>We optimize your website for top rankings in search engines, increasing your visibility and attracting more customers online to visit your website.</p>
    </div>

    <div class="service-card">
      <img src="assets/icons/logo-design.png" alt="Logo Design Icon" style="width: 100px; height: 100px; border-radius: 60%;"/>
      <h3>Logo Designing</h3>
      <p>Creative and unique logo designing to make your business a luxury brand.</p>
    </div>

    <div class="service-card">
      <img src="assets/icons/qr-code_rsbusinesstech.png" alt="QR Code Icon" />
      <h3>QR Codes</h3>
      <p>We create customized, professional QR codes designed to boost your business.</p>
    </div>
  </div>
</section>